.productList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.productItem {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    border: 1px solid var(--ifm-color-emphasis-200);
    border-radius: 8px;
    background-color: var(--background-panels);
    text-decoration: none; /* Ensure links have no underline */
    color: inherit; /* Ensure link color is inherited */
}

.productItem:hover {
    text-decoration: none;
    color: var(--text-content);
    box-shadow:
        0 0 0 1px rgba(79, 94, 255, 0.1),
        0 7px 14px 0 rgba(79, 94, 255, 0.2),
        0 3px 6px 0 rgba(79, 94, 255, 0.1);
    color: var(--text-link);
    transition: color 200ms;
    transform: translateX(1px) scale(1);
    transition: transform 200ms;
}

.icon {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ifm-color-primary);
    color: white;
    border-radius: 50%;
}

.title {
    font-size: 1rem; /* Updated to match cardwitharrow */
    color: var(--ifm-link-color);
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.title:hover {
    text-decoration: none;
}

.description {
    margin-bottom: 0;
    font-size: 1rem; /* Updated to match cardwitharrow */
    color: inherit;
}
