.productList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.productItem {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: 8px;
  background-color: var(--background-panels);
}

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ifm-color-primary);
  border-radius: 50%;
  color: white;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}

.description {
  margin: 0;
  font-size: 1rem;
  color: var(--ifm-color-secondary);
}
