.title {
    font-weight: 600;
    margin-bottom: 0.5rem !important;
    color: #4f5eff;
}

.subtitle {
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.callToAction {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 2rem;
}
